<div class="row">

  <div class="col-md-6"><br>
    <form>
      <input type="text" placeholder="Enter a Song Title or Artist" id="searchTerm">
      <input type="submit" id="searchButton" value="Search">
    </form>
    <div>
      <h2>Search Results</h2>
      <span id="results" ></span>
    </div>
  </div>

  <div class="col-md-6">
     <div>
        <h1><%=current_user.first_name%>'s Play List</h1>
        <ul class="jukebox_requests" ></ul>
    </div>
  </div>
</div>
