<div class="row">

  <div class="col-md-6">SEARCH YOUTUBE
    <form>
      <input type="text" id="searchTerm">
      <input type="submit" id="searchButton" value="Search">
    </form>
    <div>
      <h2>Search Results</h2>
      <span id="results" ></span>
    </div>
  </div>

  <div class="col-md-6">
     <div>
        <h2>USERS PLAY LIST</h2>
        <ul id="playlist" >
        <% @songs.each do |song| %>
          <li><b><%=song.song%></b> - add title info here</li>
        <% end %>
        </ul>
    </div>
  </div>
</div>
