<div class="row">
  <div class="col-md-8">SEARCH YOUTUBE


  <form>
    <input type="text" id="searchTerm">
    <input type="submit" id="searchButton" value="Search">
  </form>

    <div>
    <h2>Search Results</h2>
    <span id="results" ></span>

    <span id="TBD" >
      <h2 id="TBD">song title</h2>
      <p id="TBD">artist</p>
    </span>
  </div>




  </div>
  <div class="col-md-4">SONGS LIST ON THIS PLAYER</div>
</div>
