<div class="row">
  <div class="col-md-4">
    <h2>SONGS LIST</h2>
    <ul class="jukebox_playlist"></ul>      
  </div>

  <div class="col-md-8" id = "player">
    <h2>PLAYER</h2>
    <div id="player"></div>
    <script src="http://www.youtube.com/player_api"></script>
  </div>
</div>




