<div class="row">
  <div class="col-md-4">
    <h2>SONGS LIST</h2>
                

      <ul id="playlist" >
        <% @songs.each do |song| %>
          <li data-youtube="<%= song.song_ref %>"><b><%=song.title%></b></li>
        <% end %>
      </ul>

  </div>


  <div class="col-md-8" id = "player">
    <h2>PLAYER</h2>
                     <!--<script src="http://www.youtube.com/player_api"></script>-->

      <!--<span id="player"></span> -->
<!-- 66666666666666666666666777777777777777777777777777777777 -->

<div id="player"></div>

    <script src="http://www.youtube.com/player_api"></script>

    <script>

        // create youtube player
        var song_id = gon.song_ref
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('player', {
              height: '390',
              width: '500',
              videoId: song_id,
              events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
              }
            });
        }

        // autoplay video
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // when video ends
        function onPlayerStateChange(event) {        
            if(event.data === 0) {          
             alert('done');
            $.ajax({
                url: '/songs/'+,
                method: 'delete',
                data: {
                  "song": {
                    "song_ref": song_id
                  }
                },
                dataType: "json",
                success: function(){
                  alert('success!');
                }
              })
            


// $.ajax({
//     type: "POST",
//     url: "ajax_functions/delete.aspx",
//     data: "person_id=" + del.attr('id').replace('del_', ''),
//     success: function() {
//         $("#report").addClass("success").html("Person Deleted");
//         oTable.fnDeleteRow(pos[0]);
//     }
// });

                //song_id = gon.song_ref;
                //ajax call  - destroy current song 
                //reassign gon var in ajax method in controller

                //following add to success
                var song_id=gon.song_ref;
                player.loadVideoById(song_id, 5, "large");


            }
        }
        

    </script>












<!--77777777777777777777777777777777777777777777777777777777777777 -->
  </div>
</div>




