<div class="row">
  <div class="col-md-4">
    <h1><%=current_user.first_name%>'s Play List</h1>
    <ul class="jukebox_playlist"></ul>      
  </div>

  <div class="col-md-8" id = "player">
    <h1>JUKEBOX Video</h1>
    <div id="player"></div>
    <script src="http://www.youtube.com/player_api"></script>
  </div>
</div>




